<ion-content class="main">
  <div class="pageDetails">
    <div class="searchInput">
      <!--<input type="text" (keyup)="getItems($event)" placeholder="搜索">-->
      <ion-searchbar
        [showCancelButton]="shouldShowCancel"
        (ionInput)="getItems($event)"
        (ionCancel)="onCancel($event)">
      </ion-searchbar>
    </div>
    <ion-list>
      <!--分开循环-->
      <ion-item *ngFor="let item of items">
        <a class="letter" id="{{item.letter}}">{{item.letter}}</a>
        <div class="search" *ngFor="let i of item.details">{{i.name}}</div>
      </ion-item>
    </ion-list>
  </div>
  <div class="pageAside">
    <div *ngFor="let item of items">
      <a href="#{{item.letter}}" class="letterAside">{{item.letter}}</a>
    </div>
  </div>
</ion-content>
