<ion-header>
  <div class="backHeadBtn">
    <ion-toolbar>
      <ion-title>本期盈利榜</ion-title>
    </ion-toolbar>
    <div class="backHeadBtnC" (click)="back()">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </div>
    <div class="myprofit">
      <span>我的盈利</span>
    </div>
  </div>
</ion-header>
<ion-content>
  <div *ngIf="status==200">
    <div class="rankList" *ngFor="let item of items">
      <div class="rankImg">
        <img src="{{item.picUrl}}" alt="">
      </div>
      <div class="rankText">
        <div class="rankTextHead">
          <span>{{item.nickName}}</span>
          <img *ngIf="item.expertLv!==0" src="{{expertLv[item. expertLv]}}" alt="">
          <img *ngIf="item.communityLv!==0" src="{{communityLv[item. communityLv]}}" alt="">
          <img *ngIf="item.cashLv!==0" src='{{cashLv[item.cashLv]}}' alt="">
        </div>
        <div class="rankTextContent">
          <span>总盈利：{{item.profit}}金币</span>
          <span>盈利率：{{item.percent}}</span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="status!=200" class="noNumber">
    <img src="assets/zwsj.png" alt="">
  </div>
</ion-content>
