page-send {

}
.selectIonOption{
  position: absolute;
  top:50%;
  right:1.1rem;
  z-index:999;
  transform: translate(0,-50%);
}
.selectIonOption select{
  text-align: center;
  color:#333;
  background: #edba3e;
  border: 0;
  display: inline-block;
  line-height: 20px;
  height:20px;
}

