page-simulated-detail {

}

.detailcontent {
  background: #ededed;
}

#chargelistItem {
  background: #fff;
  padding-top: 1rem;
}

.chargeDetailTitle {
  font-size: 1.7rem;
  position: relative;
  background: #fff;
}

.chargeDetailTitle span {
  height: 1.4rem;
  line-height: 1.4rem;
}

.chargeDetailTitle b {
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 9%;
  transform: translate(0, -50%);
  padding-top: 1.1rem;
  -ms-transform: translate(0, -50%); /* IE 9 */
  -moz-transform: translate(0, -50%); /* Firefox */
  -webkit-transform: translate(0, -50%); /* Safari 和 Chrome */
  -o-transform: translate(0, -50%); /* Opera */
}

//余额
#balance {
  font-size: 1.4rem;
}

#balance a {
  color: #edba3e;
}

//兑换所需金币
.needMoneyout {
  padding-top: 1rem;
  background: #fff;
  margin-bottom: 1rem;
}

.needMoney {
  background: #fff;
  border-top: 1px solid #ededed;
  padding: 1.25rem 1.1rem;
  color: #333;
  font-size: 1.4rem;
  position: relative;
}

//备注
.remarks {
  position: relative;
}

.remarks textarea {
  width: 100%;
  height: 7rem;
  resize: none;
  padding: 1rem;
  font-size: 1.4rem;
  color: #999;
  border: none;
}

//字数控制
.remarks span {
  color: #999;
  font-size: 1.4rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

//提交按钮
.submitBtn {
  padding: 1.1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.submitBtn button {
  font-size: 1.8rem;
}

//加减运算
.numberInput {
  position: absolute;
  top: 50%;
  right: 1.1rem;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%); /* IE 9 */
  -moz-transform: translate(0, -50%); /* Firefox */
  -webkit-transform: translate(0, -50%); /* Safari 和 Chrome */
  -o-transform: translate(0, -50%); /* Opera */
  width: 34%;
  text-align:right;
}

//加减符号
.numberInput span {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  display: inline-block;
  border-radius: 1rem;
  background: #edba3e;
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  vertical-align: middle;
}

//input输入框
.numberInput input {
  width: 4rem;
  text-align: center;
  height: 2rem;
  line-height: 2rem;
  border: none;
}

//兑换申请提交弹出框
//标题
.alert-md .alert-head, .alert-ios .alert-head {
  padding: 3.5rem 5rem 1.1rem 5rem;
  text-align: center;
}

.alert-md .alert-title, .alert-ios .alert-title {
  color: #ff0103;
  font-size: 1.7rem;
  font-weight: 400;
  margin-top: 0;
}

// 内容
.alert-md .alert-message, .alert-md .alert-input-group, .alert-ios .alert-message, .alert-ios .alert-input-group {
  font-size: 1.3rem;
  color: #999;
  padding-bottom: 2rem;
  text-align: center;
}

//按钮
.alert-md .alert-button, .alert-ios .alert-button {
  color: #00b7ee;
  font-size: 1.7rem;
  height: 4.5rem;
  text-align: center;
  font-weight: normal;
}

.alert-ios .alert-button:last-child {
  font-weight: 400;
}

.alert-md .alert-button-group {
  text-align: center;
  padding: 0;
}

.alert-md .alert-wrapper, .alert-ios .alert-wrapper {
  border-radius: 13px;
}
